@font-face {
  font-family: "Lato-Bold"; /*a name to be used later*/
  src: url("../fonts/Lato-Bold.ttf"); /*URL to font*/
}

@font-face {
  font-family: "FedokaOne-Regular"; /*a name to be used later*/
  src: url("../fonts/FredokaOne-Regular.ttf"); /*URL to font*/
}

.background {
  background: url("../images/background.jpg");
  height: 100%;
  width: 100%;
  position: relative;
}

.pagination {
  position: relative;
  background: white;
}

.footer {
  position: relative;
  width: 100%;
}

.container1 {
  position: relative;
}

.column {
  width: 350px;
  height: 450px;
  margin-top: 10px;
}

.container2 {
  position: relative;
}

.image {
  width: 300px;
  height: 255px;
}

.dropdown {
  position: absolute;
  margin-left: 20px;
}

.button {
  position: absolute;
}
