@font-face {
  font-family: "Lato-Bold"; /*a name to be used later*/
  src: url("../fonts/Lato-Bold.ttf"); /*URL to font*/
}

@font-face {
  font-family: "FedokaOne-Regular"; /*a name to be used later*/
  src: url("../fonts/FredokaOne-Regular.ttf"); /*URL to font*/
}

.background {
  background: url("../images/background.jpg");
  height: 100%;
  width: 100%;
  position: fixed;
}

.contenedor-espacio {
  margin-top: 15px;
}

.texto {
  color: #fb8c00;
  font-family: "FedokaOne-Regular";
  margin-top: 10px;
}

.card-fill {
  margin-top: -20px;
  margin-left: 20px;
  background-size: cover;
}

.title {
  font-family: "FedokaOne-Regular";
  color: #fb8c00;
  margin-top: 20px;
}

.primero {
  margin-top: -5px;
}

.segundo {
  margin-top: -5px;
}

.tercero {
  margin-top: -10px;
}

.cuarto {
  color: #ffffff;
  margin-top: -5px;
}

.quinto {
}

.quinto:hover {
  color: #ffffff;
}

.logo {
  margin-top: 20px;
  width: 350px;
  height: 250px;
}

.cardDesign {
  background-size: cover;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
